$mainColor:#f82249;
$mainBackground:rgba(4, 9, 26, 0.9);
$mainWidth: 100%;
$mainHeight: 100%;
$mainFontSize:2rem;
$transition:all .3s ease-in-out;
$offset: 2rem;
$mainFontColor:#FFF;
$speakersImg: [speaker1  speaker2 speaker3 speaker4 speaker5 speaker6];
